.founder-card {
    width: 280px;
    height: 300px;
    border: 2px solid #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: top;
    border-radius: 10px 10px 5px 5px;
    margin: 10px 0px;
}
.imgbox {
    width: 100%;
    height: 80%;;
}
.imgbox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.founder-info {
    width: 100%;
    height: 20%;
    background-color: #1d2533;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;
    padding: 0.4rem 0;
}